body {
  background: #95bf40
}

.unit {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
}

.creepy {
  overflow: hidden;
  width: 100px; height: 70px;
  background:  rgba(230,125,125,1);
  border-radius: 50px 50px 20px 20px;
  border: 2px solid rgba(230,125,125,1);
  animation: creepy_stand 0.4s infinite;
  box-shadow: 
    inset -2px  2px 1px  2px rgba(255,250,250,1),
    inset    0 20px 1px -2px rgba(250,150,140,1),
    inset -8px  8px 1px  8px rgba(180,90,90,1),
          12px 4px 0 -5px rgba(0,0,0,0.2);
}

/*eyes*/
.creepy:after, .creepy:before {
  content: "";
  position: absolute;
  bottom: 16px; left: 25px;
  background: white;
  width: 8px; height: 8px;
  border-radius: 50%;
  box-shadow: inset -1px -1px 0 3px #222;
  animation: creepy_eyes_blink 5s infinite,
             creepy_eyes_left 6s infinite;
} 
.creepy:before {
  left: 50px;
  animation: creepy_eyes_blink 5s infinite,
             creepy_eyes_right 6s infinite;
}
.creepy span {
  transform: translate(36px, 2px) rotate(90deg) scaleY(-1);
  position: absolute;
  bottom: 0;
  color: rgba(155,70,70,1);
  animation: creepy_span 6s infinite;
}

/*animations*/

@keyframes creepy_stand {
  50% {
     top: calc(50% + 6px);
     height: 64px;
     border-radius: 50px 45px 15px 15px;
  }
}

@keyframes creepy_eyes_blink {
  48% {height: 8px}
  50% {height: 0}
  52% {height: 8px}
}

@keyframes creepy_eyes_left {
  45% {left: 25px}
  50% {left: 15px}
  60% {left: 30px}
  65% {left: 25px}
}

@keyframes creepy_eyes_right {
  45% {left: 50px}
  50% {left: 40px}
  60% {left: 55px}
  65% {left: 50px}
}

@keyframes creepy_span {
  45% {left: 0}
  50% {left: -10px}
  60% {left: 5px}
  65% {left: 0}
}
